@use "@/styles/colors" as colors;

.circular{
  &-info{
    p{
      text-align: justify!important;
      line-height: 50px!important;
    }
  }
  &-slider{
    background: colors.$second-color;
    border-radius: 15px;
    &-items{

    }
  }
}
