@use "font" as font;
@use "colors" as colors;

*,*:after,*:before{
  transition: .5s;
}
body{
  background: #F8F8F8;
}
a{
  text-decoration: none!important;
}
.aspect-ratio-1{
  aspect-ratio: 1;
}

.aspect-ratio-16-9{
  aspect-ratio: 16/9;
}
.w-fit{
  width: fit-content;
}
.h-full{
  height: 100vh!important;
}
.loading-motion {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: linear-gradient(
                  45deg,
                  #eeeeee 0%, #eeeeee 35%,
                  #dddddd 45%, #dddddd00 55%,
                  #eeeeee 65%, #eeeeee 100%
  );
  background-size: 400%;
  animation: loading 1.5s infinite;
  color: transparent !important;
  user-select: none;

  * {
    color: transparent !important;
  }

  &:where(.h-25px,.h-30px,.h-20px .h-35px) {
    border-radius: 25px;
  }

}

@keyframes loading {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}
.text-over, %text-over {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;

  &.o1 {
    -webkit-line-clamp: 1;
  }

  &.o2 {
    -webkit-line-clamp: 2;
  }

  &.o3 {
    -webkit-line-clamp: 3;
  }

  &.o4 {
    -webkit-line-clamp: 4;
  }

  &.o5 {
    -webkit-line-clamp: 5;
  }

  &.o6 {
    -webkit-line-clamp: 6;
  }

  &.o7 {
    -webkit-line-clamp: 7;
  }

  &.o8 {
    -webkit-line-clamp: 8;
  }

  &.o10 {
    -webkit-line-clamp: 10;
  }

  &.o12 {
    -webkit-line-clamp: 12;
  }

  &.o13 {
    -webkit-line-clamp: 13;
  }

  &.o16 {
    -webkit-line-clamp: 16;
  }

  &.o20 {
    -webkit-line-clamp: 20;
  }

  &.o24 {
    -webkit-line-clamp: 24;
  }
}
.list-style-none{
  list-style: none;
}
.border-radius-14px{
  border-radius: 14px;
}
.text-justify{
  text-align: justify;
}

.yarl__root{
  background: rgba(0, 0, 0, 0.84) !important;
  backdrop-filter:blur(12px) !important;
  -webkit-backdrop-filter: blur(12px)!important;
  z-index: 99999!important;
}
.yarl__slide_image{
  border-radius: 10px;
}
.yarl__container , .yarl__thumbnails_container , .yarl__thumbnails_vignette{
  background: none!important;
}
.warranty-content{
  p{
    line-height: 40px;
  }
}
// Media queries
@media (max-width: 990px) {
  .header-logo {
    width: 120px!important;
    height: 50px!important;
  }
}
.header-logo:hover {
  scale: 1.2;
}

.warranty-category-items{
  width: 75%!important;
  @media (max-width: 990px) {
    width: 100% !important;
  }
}
.text-break *{
  word-wrap: break-word;
  text-wrap: auto;
}
.catalog{
  width: fit-content;
  right: 30px !important;
  bottom: 50px;
}

.footer-btn{
  width: 40px;
  height: 40px;
  font-size: 18px;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 12px;
  top: 10px;
  position: absolute;
}