@use "@/styles/colors"  as colors;
.home-service-item {
  position: relative;
  z-index: 0;
  &::before,
  &::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    background: colors.$first-color;
    border-radius: 14px;
    transition: .6s;
    z-index: -1;
  }

  &::before {
    bottom: -3px;
    right: -3px;
  }

  &::after {
    top: -3px;
    left: -3px;
  }

  &:hover::before,
  &:hover::after {
    width: 25%;
    height: 50%;
  }
}
