@use "@/styles/colors" as colors;

.progress-wrap {
  position: fixed;
  right: 40px;
  bottom: 40px;
  width: 56px;
  height: 56px;
  cursor: pointer;
  border-radius: 50%;
  background: colors.$second-color;
  box-shadow: 0 4px 15px rgba(0,0,0,0.25);
  z-index: 20;

  opacity: 0;
  visibility: hidden;
  transform: translateY(20px) scale(0.9);
  transition:
          opacity 0.4s ease,
          visibility 0.4s ease,
          transform 0.4s ease,
          box-shadow 0.3s ease;

  &.active-progress {
    opacity: 1;
    visibility: visible;
    transform: translateY(0) scale(1);
  }

  &:hover {
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 6px 20px rgba(0,0,0,0.3);
  }

  /* دایره پیشرفت */
  svg.progress-circle {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    transform: rotate(0deg);
    pointer-events: none;
  }


  svg.progress-circle path {
    fill: none;
    stroke: colors.$first-color;
    stroke-width: 3;
    stroke-linecap: round;
    transition: stroke-dashoffset 0.1s linear;
  }

  /* آیکون وسط */
  .inner-icon {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;

    svg {
      width: 24px;
      height: 24px;
      color: white;
    }
  }
}
