@use "@/styles/colors"  as colors;

.pagination-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1.5rem;

  button {
    min-width: 60px;
    height: 40px;
    border: 1px solid colors.$second-color;
    border-radius: 0.375rem;
    background-color: #ffffff;
    color: #000;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      background-color: colors.$second-color;
      color: #fff;
      border-color: colors.$second-color;
      transform: scale(1.05);
    }

    &.active {
      background-color: colors.$second-color;
      color: #fff;
      border-color: colors.$second-color;
      font-weight: 600;
      pointer-events: none;
    }

    &.next , &.perv {
      min-width: 90px;
      height: 4Û°px;
      background-color: colors.$second-color;
      color: #fff;
      font-weight: 600;

      &:hover {
        background-color: colors.$second-color;
        transform: scale(1.05);
        border-color: colors.$second-color;
      }
    }
  }

  span.ellipsis {
    padding: 0 0.5rem;
    line-height: 40px;
    color: #6c757d;
  }
}
