.image-loading{
  &:after{
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.0);
    backdrop-filter: blur(12px);
    left: 0;
    top: 0;
  }
}