@use "@/styles/colors"  as colors;

.home-product-card {
  &-info {
    a {
      color: white;
      background: colors.$first-color;
      border-radius: 25px;
      padding: 12px 28px;
      position: relative;
      display: inline-block;
      text-decoration: none;
      font-weight: 500;
      cursor: pointer;
      overflow: hidden; // برای کنترل موج‌ها

      // حلقه‌های پشت دکمه
      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        border: 2px solid colors.$first-color;
        opacity: 0;
        animation: pulseRing 2.5s linear infinite;
      }

      // حلقه دوم با تأخیر
      &::after {
        animation-delay: 1.25s; // نصف زمان حلقه
      }
    }
  }

  // انیمیشن حلقه‌ها
  @keyframes pulseRing {
    0% {
      transform: translate(-50%, -50%) scale(1);
      opacity: 0.7;
    }
    70% {
      transform: translate(-50%, -50%) scale(1.8);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }


  &-title {
    &:before {
      content: "";
      z-index: 0;
      background: #fff;
      width: calc(50% + 36px);
      height: calc(100% + 36px);
      position: absolute;
      top: -18px;
      right: -18px;
      border-radius: 12px;
    }
  }

  &-image {
    border-radius: 12px;
  }

  &:hover img {
    scale: 1.1;
    rotate: 2deg;
  }

}
@keyframes pulseOutline {
  0% {
    box-shadow: 0 0 0 0 rgba(colors.$first-color, 0.6);
  }
  70% {
    box-shadow: 0 0 0 14px rgba(colors.$first-color, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(colors.$first-color, 0);
  }
}

// انیمیشن دوم (کندتر و بزرگ‌تر)
@keyframes pulseOutline2 {
  0% {
    box-shadow: 0 0 0 0 rgba(colors.$first-color, 0.4);
  }
  70% {
    box-shadow: 0 0 0 22px rgba(colors.$first-color, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(colors.$first-color, 0);
  }
}
