@use "@/styles/colors"  as colors;

.registration{
  &-info{
    background: #b1b111;
    border-radius: 10px;
    h4{
      line-height: 50px;
      text-align: justify;
    }

  }
}
.highlight{
  font-weight: bold!important;
  color: yellow;
}